.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 20%;
}

.column img {
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

a:link    { color:#0000FF; text-decoration: none; }
a:visited { color:#2200AA; text-decoration: none; }
a:hover   { color:#AA0000; text-decoration: underline; }
a:active  { color:#FF0000; text-decoration: underline; }

body {

  /* This is a single-line comment */
    margin-left:   5%;
    margin-right:  5%;
    margin-top:    2em;
    margin-bottom: 5em;
    font-family: "Lucida Grande", "Verdana", "Arial", sans-serif;
    font-size: small;
    line-height: 140%;
}

table {
    font-size: small;
}

hr {
    clear: both;
    border-style: none;
}

p {
    text-align: justify;
}

code, pre {
  font-family: "Lucida Sans Typewriter", "Courier New", monospace;
}

/*---------------------------------------------------------------------------*/

h1, h2, h3, h4, h5 {
    margin:  0px;
    padding: 0.5em;
    background-color: #EEF;
}

h1 {
    clear: both;
}

/*---------------------------------------------------------------------------*/
/* Lists of items each with a picture and text                               */

div.item {
    clear: both;
}

div.pic {
    float: left;
    width: 320px;
    margin-bottom: 2em;
}

div.txt {
    margin-left: 336px;
}

/*---------------------------------------------------------------------------*/
/* Navigation table                                                          */

#nav {
    clear: both;
    width: 100%;
    margin-bottom: 2em;
}

#nav td {
    text-align: center;
    width: 13%;
}

/*---------------------------------------------------------------------------*/
/* Calender table                                                            */

table.calendar {
  margin-left:  auto;
  margin-right: auto;
}

td.lec {
  width:  8em;
  height: 8em;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  vertical-align: top;
  background: #CFC;
}

td.fin {
  width:  8em;
  height: 8em;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  vertical-align: top;
  background: #FFC;
}

td.hol {
  width:  8em;
  height: 8em;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  vertical-align: top;
  color:      #FFF;
  background: #FCC;
}

td.off {
  width:  8em;
  height: 8em;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  vertical-align: top;
  color:      #FFF;
  background: #DDD;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
